footer {
    background-image: url('/public/imagens/fundo.png');
    background-color: #6278F7;
    background-size: cover;
    background-repeat: no-repeat;
    height: 213px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}

footer div img {
    padding: 32px;
}