.botao-card {
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #FFF;
}

.botao:hover {
    color: #95FFD4;
}

.botao-form {
    position: absolute;
    right: 0px;
    top: 40%;
    border: none;
    background-color: #FFF;
    background-image: url('/public/imagens/Botãoadd-01.png');
    background-size: cover;
    width: 108px;
    height: 108px;
}