.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin: 80px 50px;
}

.formulario form {
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
}

.formulario__index {
    position: relative;
    grid-column: span 2;
    margin-bottom: 24px;
}

.formulario__index p {
    text-align: center;
    font-size: 40px;
    color: #6278F7;
    
}

.formulario__index div {
    border-bottom: 4px solid #6278F7;
    margin: 0px 45%;
}