.formulario {
    display: flex;
    justify-content: center;
    margin: 80px 0px;
}

.formulario form {
    max-width: 80%;
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
}